.cards {
  display: grid;
  grid-template-columns: repeat(3, minmax(250px, 1fr));
  grid-gap: 30px;
}

.cards {
  max-width: 960px;
  margin: 0 auto 30px;
}

@media(max-width: 768px) {
  .cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
}