.container {
  background-color: var(--dc);
  width: 100%;
  height: 100%;
}

.abcdef {
  height: 300px;
  pointer-events: none; 
  -webkit-box-shadow: 9px 7px 46px 0px rgba(0,0,0,0.80); 
  box-shadow: 9px 7px 46px 0px rgba(0,0,0,0.80);
}

.div1 {
  background-color: var(--dc);
}

.nav1 {
  background-color: var(--dc);
}

.divAoifb1 {
  margin-top: -1.5em;
  margin-left: 2em;
  color: white;
}

.initialBar {
  width: 100%;
  height: 8px;
  background-color: var(--aoifb);
}

.bobShaddow123 {
  height: 300px; 
  pointer-events: none; 
  -webkit-box-shadow: 9px 7px 46px 0px rgba(0,0,0,0.80); 
  box-shadow: 9px 7px 46px 0px rgba(0,0,0,0.80);
}

.cardTitle1 {
  color: white; 
  font-size: 275%
}

.cardTitle2 {
  color: white; 
  padding: 8px; 
  font-size: 235%
}

.tableRedirect {
  padding: 20px; 
  color: #3B32EF;
}